    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .compContainer button {
        outline: none;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    .compContainer {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 92%;
        float: right;
        margin-top: 2em !important;
    }
    
    .loginHeader {
        height: 70px !important;
    }
    
    .loginLogo {
        padding-top: -3em;
        padding-bottom: 2em;
    }
    
    .loginHeader img {
        min-width: 20%;
        margin-left: 20px;
        margin-top: -20px;
    }
    
    .logo {
        display: flex;
        width: 50%;
        float: left !important;
    }
    
    .loginMain {
        background: url(https://res.cloudinary.com/oluwamayowaf/image/upload/v1575308309/TeamWorkFE/Group_2_kpwim7.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    
    .Main-login {
        margin: 70px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }
    
    .Login-form-container {
        background: rgb(157, 156, 156, 0.1);
        mix-blend-mode: normal;
        opacity: 0.5;
        border-radius: 8px;
        color: #fff;
        padding: 12% !important;
        margin: 10% 0 !important;
    }
    
    .Login-form-container input[type=text],
    [type=password] {
        background: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid #F1F3F5 !important;
        border: none;
        padding: 0px;
        color: #FFFFFF !important;
    }
    
    .Login-form-container label {
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        font-size: 8px;
        line-height: 25px;
        color: white;
    }
    
    .Login-form-container p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 14px;
        line-height: 25px;
    }
    
    .Login-form-container h3 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 24px;
        line-height: 25px;
    }
    
    .Login-form-container form ::placeholder {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */
        color: #FFFFFF;
    }
    
    .Login-form-container label {
        float: left !important;
        font-family: 'Nunito';
        color: #FFF;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }
    
    .Login-form-container img {
        width: 30%;
        padding: 5%;
    }
    
    .Welcome-message-container {
        margin-top: 35px;
        height: 55vh;
        background: #528CFD;
        box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
        padding: 10% 2% 0 2% !important;
    }
    
    .LoginLink {
        font-family: 'Nunito';
        color: #FFF;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */
        float: right;
    }
    
    .Login-btn {
        font-family: 'Nunito', sans-serif;
        color: #FFF;
        margin: auto;
        width: 100%;
        height: 37px;
        background: rgb(91, 154, 248, 0.6) !important;
        border-radius: 8px;
        border: none !important;
        margin-top: 12px;
        font-style: italic;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
    }
    
    .error-message {
        font-size: 18px;
        color: #c4c4c4;
        text-shadow: #FFF;
        padding: 0px !important;
    }
    
    .loadingscreen {
        padding-top: 20%;
    }
    
    .allFeed {
        margin: auto !important;
    }
    /* The sidebar menu */
    
    .sidenav {
        font-size: 18px;
        width: 8% !important;
        height: 100vh !important;
        float: left !important;
        position: fixed;
    }
    
    .linkPadding {
        padding-bottom: 30px;
    }
    
    .headerMain {
        width: 92%;
        float: right !important;
        height: 67px;
        background-color: #FFFFFF !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    }
    
    .headerMain button:hover {
        transform: none;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    
    .headerMain button:focus {
        outline: none;
    }
    
    .headerLogo {
        float: left;
    }
    
    .errorPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }
    
    .errorPage p {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #4F4F4F;
        margin-top: 39px;
        margin-bottom: 27px;
    }
    
    .errorPage button {
        width: 125px !important;
        height: 45px !important;
        text-align: center;
        outline: none;
    }
    
    .errorBtn {
        cursor: pointer;
        background: #4D6488;
        color: #ffffff;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        border-radius: 33px;
        min-width: 99px;
        min-height: 45px;
        text-transform: capitalize;
    }
    
    .backBtn {
        cursor: pointer;
        float: right;
        background: #4D6488;
        color: #ffffff;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        border-radius: 33px;
        min-width: 99px;
        min-height: 45px;
        text-transform: capitalize;
        margin-right: 10px;
    }
    
    .headerBtn {
        cursor: pointer;
        float: right;
        background: none;
        color: #4D6488;
        border: #4D6488 1px solid;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        border-radius: 33px;
        width: 99px;
        height: 45px;
        text-transform: capitalize;
        margin-right: 10px;
    }
    
    .headerAddBtn {
        cursor: pointer;
        float: right;
        background: #4D6488;
        color: #fff;
        border: 1px solid;
        font-family: Nunito;
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        border-radius: 33px;
        text-transform: capitalize;
        width: 45px;
        height: 45px;
        margin-right: 43px;
    }
    
    .userDetails {
        text-align: center;
        padding-bottom: 10%;
    }
    
    .linkWrapper {
        text-align: center;
        padding: 15% 0;
    }
    
    .linkStyle {
        color: white;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
    }
    
    .linkStyle:hover {
        color: white;
        text-decoration: none;
    }
    
    .articleContainer {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        min-height: 232px;
        width: 65%;
        margin: auto;
        align-items: center;
        margin-bottom: 15px;
        padding: 1.5em;
        border-radius: 5px;
    }
    
    .articleContainer p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        /* number of lines to show */
        line-height: 24px;
        /* fallback */
        max-height: 144px;
        /* fallback */
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
    }
    
    .articleContainer h4 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #5E5E5E !important;
    }
    
    .articleContainer img {
        height: 200px;
        width: 40%;
    }
    
    .commentContainer h5 {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        /* Gray 1 */
        color: #333333;
    }
    
    .commentContainer p {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        /* Gray 2 */
        color: #4F4F4F;
    }
    
    .commentBtn {
        background: #4D6488;
        border-radius: 33px;
        color: white;
        width: 126px;
        height: 45px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
        text-align: center;
    }
    
    .avatar {
        background: #4D6488;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        color: white;
    }
    /****************** Create Employee ********************/
    
    .createEmployee {
        width: 40%;
        margin: auto;
    }
    
    .createEmployee input[type=text],
    [type=password],
    [type=textarea],
    select {
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        background: rgb(229, 229, 229, 0.4) !important;
        height: 40px;
        border: none !important;
        padding-left: 15px !important;
    }
    
    .addPost {
        width: 40%;
        margin: auto;
    }
    
    .addPost input[type=text],
    [type=password],
    [type="file"],
    select,
    textarea {
        font-family: Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        background: rgb(229, 229, 229, 0.4) !important;
        height: 40px;
        border: none !important;
        padding-left: 15px !important;
    }
    
    .userTab {
        display: flex;
        width: 519px;
        height: 60px;
    }
    
    @media only screen and (max-width: 600px) {
        .Welcome-message-container {
            margin-top: 0;
            height: fit-content;
            padding: 10px !important;
        }
        .sidenav {
            width: 20% !important;
        }
        .headerMain,
        .commentContainer {
            width: 80% !important;
        }
    }